.ultimateCourse-container {
    display: flex;
    justify-content: space-around;
    font-family: var(--font-manrope);
    padding-bottom: 8.9rem;
}

.ultimateCourse-text {
    width: 73.6rem;
}

.ultimateCourse-text>h2 {
    font-size: 5.5rem;
    font-weight: 800;
    color: var(--title-red);
    text-align: center;
    line-height: 7.5rem;
    letter-spacing: -2.24px;
    height: 19.1rem;
}

.ultimateCourse-text ul {
    font-size: 1.8rem;
    line-height: 4rem;
    letter-spacing: 0.36px;
    list-style-type: disc;
}

.ultimateCourse-text ul ul {
    margin-left: 2.8rem;
}

.ultimateCourse-container .cards {
    width: 41.5rem;
    min-height: 62.1rem;
    border: 1px solid black;
    border-radius: 2rem;
    overflow: hidden;
    position: relative;
}

.ultimateCourse-container .cards .cards-upper {
    min-height: 14.3rem;
    width: 100%;
    background-color: var(--card-bg);
    color: white;
    padding: 2.29rem 4.7rem 2.3rem 2rem;
    font-size: 3.6rem;
    font-weight: 800;
}

.ultimateCourse-container .cards ul {
    padding: 1.9rem 0 0 2rem;
    margin: 0 auto;
    width: 39rem;
    font-size: 1.6rem;
}

.ultimateCourse-container .cards ul li:last-child {
    padding-top: 2rem;
}

.ultimateCourse-container .cards-lower {
    position: absolute;
    bottom: 2.1rem;
    transform: translate(-50%, 0);
    left: 50%;
}

.ultimateCourse-container .cards-lower a {
    display: grid;
    place-content: center;
    border: 1px solid black;
    color: white;
    border-radius: 5px;
    font-size: 2rem;
    margin: auto;
    font-weight: 800;
}

.ultimateCourse-container .cards-lower a:first-child {
    width: 28.6rem;
    height: 6rem;
    background-color: var(--bg-blue);
    margin-top: 2.2rem;
}

.ultimateCourse-container .cards-lower a:last-child {
    margin-top: 1.4rem;
    background-color: var(--btn-orange);
    width: 15.8rem;
    height: 4.4rem;
}