.course-container {
    padding: 11rem 0 20.1rem 0;
    font-family: var(--font-manrope);
}

.course-container .courses-title {
    font-size: 5.6rem;
    font-weight: bold;
    text-align: center;
    color: var(--title-red);
}

.course-container>p {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 400;
    letter-spacing: 0.96px;
}

.cards-container {
    padding: 2.6rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 7.8rem;
}

.cards-container .cards {
    width: 34rem;
    height: 57.4rem;
    border: 1px solid black;
    border-radius: 2rem;
    overflow: hidden;
    position: relative;
}

.cards-container .cards .cards-upper {
    min-height: 16rem;
    width: 100%;
    background-color: var(--card-bg);
    color: white;
    padding: 2.29rem 4.7rem 2.3rem 2rem;
    font-size: 3rem;
    font-weight: 800;
}

.cards-container .cards ul {
    padding: 1.9rem 0 0 2rem;
    margin: 0 auto;
    width: 31.9rem;
    font-size: 1.6rem;
}

.cards-container .cards ul li:last-child {
    padding-top: 1.1rem;
}

.cards-container .cards-lower {
    position: absolute;
    bottom: 2.1rem;
    transform: translate(-50%, 0);
    left: 50%;
}

.cards-container .cards-lower a {
    display: grid;
    place-content: center;
    border: 1px solid black;
    color: white;
    border-radius: 5px;
    font-size: 1.8rem;
    margin: auto;
    font-weight: 800;
}

.cards-container .cards-lower a:first-child {
    width: 22.3rem;
    height: 5.1rem;
    background-color: var(--bg-blue);
    margin-top: 2.2rem;
}

.cards-container .cards-lower a:last-child {
    margin-top: 1.4rem;
    background-color: var(--btn-orange);
    width: 12.9rem;
    height: 4.1rem;
}